.git
.github
.venv
.env
.env.*
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.streamlit/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
*.ipynb
*.log
*.sqlite
*.sqlite3
*.db
*.db-journal
*.pth
*.pt
brain/best_brain_model.pth
breast/best_breast_model.pth
chest/best_chest_model.pth
kidney/best_kidney_model.pth
bone/best_bone_model.pt
node_modules/
dist/
build/
