# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Datasets & Models
brain_dataset/
Chest-CT-Scan/
chest_dataset/
breast_dataset/
kidney_dataset/
bone_dataset/
*.pth
*.pt
*.h5
*.onnx

# Streamlit
.streamlit/
mlruns/
mediscan.db

# OS
.DS_Store
Thumbs.db

deployment_plan.md
