fastapi
uvicorn
streamlit
pillow
requests
pandas
python-multipart
pydantic
ultralytics
mlflow
scikit-learn
matplotlib
seaborn
SQLAlchemy
psycopg2-binary
prometheus-client
psutil
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
timm
